@model IEnumerable<StudentClass.ViewModels.ListClassStudentViewModel>
@{
    ViewData["Title"] = "Class List";
    Layout = "_layout";
}

<a asp-controller="Class" asp-action="Add"><button class="btn btn-sec mb-2">Create</button></a>
<table id="example" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Students</th>
            <th class="w-25">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ClassName</td>
                <td>
                    @foreach(var student in item.StudentName)
                    {
                        <a asp-route-id ="@student.Id" asp-action="Detail" asp-controller="Student">@student.Name;</a>
                    }
                </td>
                <td>
                    
                    <a asp-controller="Class" asp-action="Update" asp-route-id="@item.Id"><button class="btn btn-primary">Edit</button></a>
                    <a asp-controller="Class" asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger-cus">Delete</button></a>
                </td>
            </tr>
        }
    </tbody>

</table>

